.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 40px;
}

.page h1 {
    text-align: center;
    margin-bottom: 30px;
}

.users-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    max-width: 600px;
    margin: auto;
}

.users-list a {
    padding: 10px 20px;
    border: 2px solid blue;
    color: blue;
    border-radius: 40px;
    font-weight: bold;
    transition: color .3s, background-color .3s;
    transition-timing-function: ease-in-out;
}

.users-list a:hover {
    color: white;
    background-color: blue;
}

.form {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrapper {
    display: flex;
    display: flex;
    align-items: start;
    gap: 15px;
}

.form input {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid blue;
    padding: 4px 8px;
    min-width: 200px;
    font-size: 16px;
}

.form input:focus {
    outline: none;
}

.form input::placeholder {
    color: rgba(0, 0, 0, .3);
}

.form button {
    border: none;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    transition: color.3s, background-color.3s;
    transition-timing-function: ease-in-out;
}